Given a matrix A, return the transpose of A.

The transpose of a matrix is the matrix flipped over it's main diagonal, switching the row and column indices of the matrix.

>Example 1:<br>
>Input: [[1,2,3],[4,5,6],[7,8,9]]<br>
>Output: [[1,4,7],[2,5,8],[3,6,9]]<br>

>Example 2:<br>
>Input: [[1,2,3],[4,5,6]]<br>
>Output: [[1,4],[2,5],[3,6]]<br>

In [24]:
#Solution

A=[[1,2,3],
   [4,5,6],
   [7,8,9]]
sol = []

for i in range(len(A[0])):
    tmp = []
    for j in range(len(A)):
        tmp.append(A[j][i])
    sol.append(tmp)
sol

[[1, 4], [2, 5], [3, 6]]

In [3]:
#numpy.array.transpose() 사용

import numpy as np
A=[[1,2,3],[4,5,6]]
array1=np.array(A)
output=array1.transpose()
output

array([[1, 4],
       [2, 5],
       [3, 6]])

In [25]:
import numpy as np

x = np.arange(6).reshape((2,3)) #ex) .reshape(4,1)시 column하나의 4개 row가진 테이블 생성.
x

array([[0, 1, 2],
       [3, 4, 5]])

In [23]:
np.transpose(x)

array([[0, 3],
       [1, 4],
       [2, 5]])